@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap");
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  margin: 20px auto;
  max-width: 90%;
  font-family: "Noto Sans JP", sans-serif;
}
.Header {
  font-weight: 700;
  text-align: center;
}
.General {
  margin: auto;
}
form {
  background-color: #d8f3dc;
  border-radius: 10px;
  max-width: 90%;
  margin: 20px auto;
  padding: 20px 20px 10px 20px;
}
input {
  display: block;
  width: 99%;
  margin: 10px auto;
  height: 40px;
  font-size: 1em;
}
button {
  border-radius: 5px;
  padding: 5px;
  font-size: 1em;
  text-align: center;
}
.full-name {
  font-size: 2em;
  font-weight: 400;
}
.view {
  text-align: center;
}
